@use '../base/variables' as v;

/* ========== color icon ========== */
.icon-light-theme {
  filter: grayscale(1) brightness(0) invert(1);
}

/* ========== color txt ========== */
.u-txt {
  &-white {
    color: white;
  }
}

/* ========== grid ========== */
.grid-container {
  display: grid;
  grid-column: 1 / 11;
  gap: 10px;
}
.grid-container--2-cols {
  grid-template-columns: repeat(8, 1fr) auto auto;
}

/* ========== wave ========== */
.u-wave {
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 11rem;
    background: url(../img/.svg) no-repeat;
  }
}
