@use '../base/variables' as v;

.m-hero-image {
  width: 100%;
  height: fit-content;
  position: relative;
  padding: 1.875rem 1.6875rem;
  grid-column: 1 / 11;

  border-radius: 20px;
  background: v.$color-pure-white-50;

  /* ========== img ========== */
  &__img-container {
    width: 76px;
    margin-top: 1.1875rem;
    margin-bottom: 8px;
    margin-inline: auto;
  }
  &__img {
    border-radius: 50%;
    box-shadow: 0px 0px 50px 0px rgba(28, 48, 65, 0.16);
  }

  /* ========== text ========== */

  &__employment-status {
    position: absolute;
    top: 10px;
    left: 25px;
    margin-left: 0px;

    font-size: 11px;
    line-height: 1;
    color: v.$color-gray;
  }
  &__employment-status::before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    left: -15px;
    top: 0;

    border-radius: 50%;
    background-color: v.$color-turquoise;
  }

  &__nickname {
    font-size: 0.6875rem;
    font-weight: map-get(v.$font-weight, bold);
    text-align: center;
  }
  &__highlight {
    font-weight: map-get(v.$font-weight, regular);
    text-align: center;
  }
}
