@use '../base/variables' as v;
@use '../base/mixins' as m;

.m-private-tutoring {
  width: 100%;
  height: auto;
  padding: 15px 20px;
  position: relative;
  grid-column: 1 / 11;

  border-radius: 20px;
  background: var(--color-highlight);
  transition: v.$deafult-transition;

  &__title {
    width: min-content;

    @include m.apply-font-style(title);
    color: var(--text-color-dark-bg-2);
    line-height: 1;
  }
  &__title-highlight {
    @include m.apply-font-style(subtitle);
    font-style: italic;
    color: var(--text-color-dark-bg-2);
    line-height: 1;
  }
  &__info {
    height: fit-content;
    display: flex;

    @include m.apply-font-style(title);
    font-size: 5rem;
    color: var(--text-color-dark-bg);
    letter-spacing: 0.4rem;
  }
  &__info-number {
    line-height: 1;
    letter-spacing: 0;
  }
  &__info-txt {
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    transform: rotate(-90deg) translateX(5%);
  }
  &__subtitle {
    margin-top: 8px;

    font-size: 22px;
    color: var(--text-color-dark-bg-2);
    line-height: 1;
  }
  &__txt {
    font-size: 14px;
    color: var(--text-color-dark-bg);
    line-height: 20px;
  }
}
