@use '../base/variables' as v;
@use '../base/mixins' as m;

.m-profile-header {
  width: 100%;
  height: fit-content;
  position: relative;
  padding: 1.875rem 1.6875rem;
  grid-column: 1 / 11;

  border-radius: 20px;
  background: var(--article-bg);

  &__name {
    margin: 0;

    @include m.apply-font-style(title);
    text-transform: uppercase;
    text-align: center;
  }

  &__profession {
    @include m.apply-font-style(subtitle);
    text-align: center;
    font-style: italic;
  }
  &__highlight {
    @include m.apply-font-style(highlight);
  }
  &__description {
    @include m.apply-font-style(paragraph);
    margin-bottom: 0;
    text-align: center;
  }
  &__wave-emoji {
    position: absolute;
    top: 10px;
    right: 19px;
  }
}
