@use '../base/variables' as v;

.m-theme-toggle {
  width: 60px;
  height: 60px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 9 / 11;

  border-radius: 20px;
  background: var(--article-bg);
  transition: v.$deafult-transition;

  &__icon {
    color: var(--icon-theme-toggle);
    transition: v.$deafult-transition;
  }
}
