@use '../base/variables' as v;
@use '../base/mixins' as m;

.m-work {
  width: 100%;
  height: auto;
  padding: 70px 27px 30px 27px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1 / 2;

  border-radius: 20px;
  background: var(--article-bg);
  transition: v.$deafult-transition;

  @media (min-width: map-get(v.$breakpoint-values, 'md')) {
    height: 100%;
  }

  /* ======================================== */
  /*                  header                  */
  /* ======================================== */
  &__article-header {
    width: 37px;
    height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 10px;
    left: 19px;

    border-radius: 50%;
    border: 3px solid var(--category-border);
    background-color: var(--category-bg);
    transition: v.$deafult-transition;
  }
  &__icon-header {
    color: var(--category-icon);
    font-size: 12px;
    transition: v.$deafult-transition;
  }
  &__title-header {
    width: max-content;
    position: absolute;
    right: 0;
    top: 0;

    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    color: var(--category-label-text);
    transition: v.$deafult-transition;
    transform: translateX(calc(100% + 10px)) translateY(45%);
  }

  /* ======================================== */
  /*                   body                   */
  /* ======================================== */
  &__article-body {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
  }

  /* ========== card ========== */
  &__card {
    position: relative;

    &:nth-child(n + 2):before {
      content: '';
      width: 30px;
      height: 3px;
      display: block;
      position: absolute;
      left: 50%;
      bottom: -20px;

      border-radius: 10px;
      background-color: var(--shape-rect-bg);
      transform: translateX(-50%);
    }
  }
  &__card-head {
    margin-bottom: 0;

    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1.4px;
    color: var(--text-subtitle);
    transition: v.$deafult-transition;
  }
  &__shape-circle {
    width: 12px;
    height: 12px;
    margin-inline: auto;

    border-radius: 50%;
    background: var(--shape-circle-bg);
    transition: v.$deafult-transition;
  }
  &__card-date-range,
  &__card-city {
    display: block;

    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    letter-spacing: 1.4px;
    color: var(--text-subtitle);
    transition: v.$deafult-transition;
  }
  &__card-description {
    max-width: 300px;
    display: block;

    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    text-wrap: pretty;
    letter-spacing: 1.4px;
    color: var(--text-paragraph);
    transition: v.$deafult-transition;
  }
}
